/* css-mario */
.bg{width:240px; height:320px; background-color:#000; margin:0 auto;}
.ab{position:absolute;}
.re{position:relative;}
.red{background-color:#f00;}
.brown{background-color:#916d00;}
.hada{background-color:#f8d8b7;}
.w20{width:20px;}
.w40{width:40px;}
.w60{width:60px;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;} 
.w140{width:140px;}
.w180{width:180px;}
.w240{width:240px;}
.h20{height:20px;}
.h40{height:40px;}
.h60{height:60px;}
.h80{height:80px;}
.t0{top:0;}
.t20{top:20px;}
.t40{top:40px;}
.t60{top:60px;}
.t80{top:80px;}
.t100{top:100px;}
.t120{top:120px;}
.t140{top:140px;}
.t160{top:160px;}
.t180{top:180px;}
.t200{top:200px;}
.t220{top:220px;}
.t240{top:240px;}
.t280{top:280px;}
.t300{top:300px;}
.le0{left:0;}
.le20{left:20px;}
.le40{left:40px;}
.le60{left:60px;}
.le80{left:80px;}
.le100{left:100px;}
.le140{left:140px;}
.le160{left:160px;}
.le180{left:180px;}
.le200{left:200px;}