@charset "utf-8";
/* 変数 */
:root{
  --outer-height:100vh;
}
html,body,h1,h2,ul{
  padding: 0;
  margin: 0;
  font-size: 16px;
  color:#eee;
}
body{
  background: url("../images/no_3950_bar.png") no-repeat 100%/cover #000 fixed;
  height: 100%;
  position: relative;
}
a{
  color:greenyellow;
  text-decoration: none;
}
a:hover{
  opacity:0.6;
}
ul li{
  list-style-type:none;
}
.cursor{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: radial-gradient(#fff 1%,transparent 40%);
  opacity:0.8;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1001;
}
header, footer{
  background-color:#000;
  opacity: 0.6;
}
header{
  width:100%;
  position: fixed;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
header h1{
  color:#333;
  font-family: "Nico Moji";
  font-size: 2rem;
  margin: 0;
  padding: 16px;
}
header h1 a{
  color:#fff;
}
header h1 a:hover{
  color:#ccc;
}
header ul{
  display: flex;
  margin: 0;
  padding: 0;
}
header ul li{
  transition:0.5s ease-in-out;
  text-align: center;
}
header ul li:hover{
  background-color: #fff;
}
header ul li a{
  display: block;
  color:#fff;
  padding: 32px  2em;
}
header ul li a:hover{
  color:#333;
}
#nav-open{
  display: none;
}
.nav-unshown{
  display:none;
}
main{
  max-width:880px;
  margin:0 auto;
}
section{
  padding:128px 0;
}
h2{
  color:#ccc;
  font-family: "Nico Moji";
  font-size: 3rem;
  margin:16px 0 0;
  padding-bottom: 64px;
  text-align:center;
}
section#first-view{
  padding: 0;
}
#first-view{
  height: var(--outer-height);
  text-align: right;
  display: flex;
}
#first-view p{
  margin:auto;
  writing-mode: vertical-rl;
}
#first-view a{
  font-size: 32px;
  display: block;
  transition:1s;
}
#first-view a:hover{
  position:relative;
  top:8px;
  transform:rotateY(360deg);
}
.about_box, .img_box{
  margin-bottom: 48px;
  text-align: center;
}
#about img{
  background: #aaa;
  border-radius: 50%;
  border: 10px #fff double;
  transition: 0.4s ease-in-out;
}
#about img:hover{
  transform: rotateY(180deg);
}
.message{
  padding: 24px;
}
#contents, #dona{
  text-align:center;
}
#dona ul{
  font-size: .8rem;
}
footer p{
  text-align:center;
  padding:32px;
  margin:0;
}
footer small{
  font-size:0.8em;
}

/* CSSアニメーションの指定 */
.slide-top{
  animation: slidein-top 2s;
}
.slide-left{
  animation: slidein-left 2s;
}

/* CSSアニメーションの設定 */
@keyframes slidein-top {
  0%{
    opacity: 0;
    transform:translateY(-128px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidein-left {
  0%{
    opacity: 0;
    transform:translateX(-128px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
/* 767pxより小さい時のスタイル */
@media screen and (max-width: 767px) {
  header ul{
    flex-direction: column;
  }
  header ul li{
    width: auto;
  }
  header ul li a{
    color: #333;
    text-align: center;
  }
  /*ハンバーガーメニュここからコピペあとで読む */
  #nav-drawer{
    position: relative;
  }
  #nav-open{
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    padding: 8px;
  }
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #ccc;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 70%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 320px;/*最大幅（調整してください）*/

    background: #ccc;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);/*左に隠しておく*/
  }
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
}
