@charset "utf-8";
html,body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  color:#ccc;
}
body{
  background: url("../images/no_3950_bar.png") no-repeat 100%/cover #000 fixed;
  position: relative;
}
p{
  font-size:1rem;
  color: #ccc;
}
a{
  color:greenyellow;
  text-decoration: none;
}
a:hover{
  opacity:0.6;
}
ul{
  color:#ccc;
  padding-left:0;
}
ul li{
  list-style-type:none;
}

.cursor{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: radial-gradient(#fff 1%,transparent 40%);
  opacity:0.8;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1001;
}
header, footer{
  background-color:#000;
  opacity: 0.6;
}
header{
  width:100%;
  position: fixed;
  display: flex;
  justify-content:space-between;
}
header h1{
  color:#333;
  font-family: "Nico Moji";
  font-size: 48px;
  margin: 0;
  padding: 16px;
}
header h1 a{
  color:#fff;
}
header h1 a:hover{
  color:#ccc;
}
header ul{
  display: flex;
  margin: 0;
  padding: 0;
}
header ul li{
  padding: 32px  3em;
  transition:0.5s ease-in-out;
}
header ul li:hover{
  background-color: #fff;
}
header ul li a{
  display: block;
  color:#fff;
}
header ul li a:hover{
  color:#333;
}
main{
  max-width:1080px;
  margin:0 auto;
}
section{
  padding:128px 0;
}
h2{
  color:#ccc;
  font-family: "Nico Moji";
  font-size: 64px;
  margin:16px 0 0;
  padding-bottom: 64px;
  text-align:center;
}
section#first_view{
  padding: 0;
}
#first_view{
  height:100vh;
  text-align: center;
  display: flex;
}
#first_view p{
  margin:auto;
}
#first_view a{
  font-size: 32px;
  display: block;
  transition:1s;
}
#first_view a:hover{
  position:relative;
  top:8px;
  transform:rotateY(360deg);
}
.about_box, .img_box{
  margin-bottom: 48px;
  text-align: center;
}
#about img{
  background: #aaa;
  border-radius: 50%;
  border: 10px #fff double;
  transition: 0.4s ease-in-out;
}
#about img:hover{
  transform: rotateY(180deg);
}
.message{
  padding: 24px;
}
#contents, #dona{
  text-align:center;
}
footer p{
  color: #fff;
  text-align:center;
  padding:16px;
  margin:0;
}
footer small{
  font-size:0.8em;
}

@media screen and(mix-width:480px) {
  header,header ul{
    flex-direction: column;
  }
}
