body{
  padding: 0;
  margin: 0;
}
p{
  font-size:16px;
  color: #333;
}
a{
  text-decoration: none;
}
ul{
  padding-left:0;
}
ul li{
  list-style-type:none;
}

header, footer{
  background-color:#000;
}
header#top_img{
  background: #000;
  background-image: url(../images/no_3950_bar.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
header .top_menu{
  background: #000;
  display: flex;
  justify-content:space-between;
  opacity: 0.6;
}
header h1{
  color:#fff;
  font-size: 48px;
  font-family: "Nico Moji";
  margin: 0;
  padding: 16px;
}
header h1 a{
  color:#fff;
}
header h1 a:hover{
  color:#ccc;
}
header ul{
  display: flex;
  margin: 0;
  padding: 0;
}
header ul li{
  transition: all 1s ease-in-out;
}
header ul li:hover{
  background-color: #fff;
  transform: rotateY(360deg);
}
header ul li a{
  color:#fff;
  display: block;
  padding: 32px  3em;
  position: relative;
}
header ul li a:hover{
  color:#333;
  position: relative;
  top:3px;
  right: 3px;
}

main{
  margin:112px auto;
}
h2{
  font-size: 88px;
  font-family: "Nico Moji";
  margin:16px 0 0;
  padding-bottom: 54px;
  text-align:left;
}
#about, #contents, #dona{
  margin-bottom: 72px;
  padding: 24px;
}
.about_box{
  display: flex;
  justify-content: space-between;
  padding: 0 88px;
}
.img_box{
  margin-bottom: 32px;
}
#about img{
  background: #aaa;
  border-radius: 50%;
  border: 10px #fff double;
  transition: 1s ease-in-out;
}
#about img:hover{
  transform: rotateY(360deg);
}
#about.message{
  padding: 32px;
}
footer p{
  color: #fff;
  text-align:center;
  padding:16px;
  margin:0;
}
footer small{
  font-size:.8em;
}
