/* @font-face{
  font-family: "DragonQuestFC";
  src:url("../fonts/DragonQuestFC.ttf");
} */
body{
  padding: 0;
  margin: 0;
  background: url("../images/no_3950_bar.png") no-repeat 100%/cover #000 fixed;
}
p{
  font-size:16px;
  color: #ccc;
}
a{
  font-size: 16px;
  color:greenyellow;
  text-decoration: none;
}
a:hover{
  opacity:0.6;
}
ul{
  color:#ccc;
  padding-left:0;
}
ul li{
  list-style-type:none;
}
header, footer{
  background-color:#000;
  opacity: 0.6;
}
header{
  width:100%;
  position: fixed;
}
header .top_menu{
  background: #000;
  opacity: 0.6;
  display: flex;
  justify-content:space-between;
}
header h1{
  color:#333;
  font-family: "nicomoji";
  font-size: 48px;
  margin: 0;
  padding: 16px;
}
header h1 a{
  color:#fff;
}
header h1 a:hover{
  color:#ccc;
}
header ul{
  display: flex;
  margin: 0;
  padding: 0;
}
header ul li{
  transition: all 1s ease-in-out;
}
header ul li:hover{
  background-color: #fff;
  transform: rotateY(360deg);
}
header ul li a{
  color:#fff;
  display: block;
  padding: 32px  3em;
  position: relative;
}
header ul li a:hover{
  color:#333;
}
main{
  width:1280px;
  margin:0 auto;
}
section{
  padding:128px;
}
h2{
  color:#ccc;
  font-family: "nicomoji";
  font-size: 64px;
  margin:16px 0 0;
  padding-bottom: 54px;
  text-align:left;
}
.about_box{
  display: flex;
  justify-content: space-between;
  padding: 0 88px;
}
.img_box{
  margin-bottom: 32px;
}
#about img{
  background: #aaa;
  border-radius: 50%;
  border: 10px #fff double;
  transition: 1s ease-in-out;
}
#about img:hover{
  transform: rotateY(360deg);
}
#about.message{
  background: #000;
  opacity: 0.8;
  padding: 32px;
}
#about.message p{
  font-family: "DragonQuestFC";
  font-size: 32px;
}
footer p{
  color: #fff;
  text-align:center;
  padding:16px;
  margin:0;
}
footer small{
  font-size:0.8em;
}
